<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://monitoreo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>monitoreo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>monitoreo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$monitoreo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MonitoreoDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlsimadesarrollosdb.database.windows.net,1433;Initial Catalog=MonitoreoDB;User ID=null@sqlsimadesarrollosdb.database.windows.net;Password=Apolion0" Name="Data Source=tcp:sqlsimadesarrollosdb.database.windows.net,1433;Initial Catalog=MonitoreoDB;User Id=null@sqlsimadesarrollosdb.database.windows.net;Password=Apolion0" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlsimadesarrollosdb.database.windows.net;Initial Catalog=MonitoreoDB;Persist Security Info=True;User ID=polaniavera;Password=Apolion0;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MonitoreoDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/RegistroDataModel.csdl|res://*/RegistroDataModel.ssdl|res://*/RegistroDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlsimadesarrollosdb.database.windows.net;initial catalog=MonitoreoDB;persist security info=True;user id=polaniavera;password=Apolion0;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MonitoreoDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/RegistroDataModel.csdl|res://*/RegistroDataModel.ssdl|res://*/RegistroDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:sqlsimadesarrollosdb.database.windows.net,1433;initial catalog=MonitoreoDB;user id=null@sqlsimadesarrollosdb.database.windows.net;password=Apolion0;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>